<h1>All Fake Mascots</h1>

<a href="/mascot/fake/new">Create Your Own Mascot</a>


{{#each allFakeMascots}}
<a href="/mascot/fake/{{_id}}">
<p>{{fakeMascot}}</p></a>
{{/each}}


<a href="/">
    <button> Home </button>
</a>