<h1>All Professional Mascots</h1>

<a href="/mascot/professional">Create New Professional Mascot</a>

{{#each allProfessionalMascots}}
<a href="/mascot/{{_id}}">
<p>{{professionalMascot}}</p></a>
{{/each}}