<h1>All Professional Mascots</h1>

<a href="/mascot/professional/new">Create New Professional Mascot</a>


{{#each allProfessionalMascots}}
<a href="/mascot/professional/{{_id}}">
<p>{{professionalMascot}}</p></a>
{{/each}}



<a href="/">
      <button> Home </button>
    </a>