<h1>Mascots VS Mascots</h1>

<div class="main-landing-boxes">
    <a class="main-link" href="/mascot/college">
    {{!-- <input class="allButton" type="submit" value="College Football Teams"> --}}
    <p>College Football Teams</p>
    <img src="/cartoonfootballplayer.png" alt="image of cartoon football player" height="400px" width="350px"> 
    </a>

    <a class="main-link" href="/mascot/professional">
    {{!-- <input class="allButton" type="submit" value="Professional Football Teams"> --}}
    <p>Professional Football Teams</p>
    <img src="/american-football-helmet.png" alt="football helmet" height="400px" width="350px">
    </a>
 
    <a class="main-link" href="/mascot/fake">
    {{!-- <input class="allButton" type="submit" value="Fake Football Teams"> --}}
    <p>Fake Football Teams</p>
    <img src="fake-football.png" alt="black cartoon football" height="400px" width="350px">
    </a>

</div>