<h1>Mascots VS Mascots</h1>

<div class="main-landing-boxes">
    <div class="college">
        <a class="main-link" href="/mascot/college">
            <p>College Football Teams</p>
            <img src="/cartoonfootballplayer.png" alt="image of cartoon football player" height="300px" width="250px">
        </a>
    </div>
    <div class="professional">
        <a class="main-link" href="/mascot/professional">
            <p>Professional Football Teams</p>
            <img src="/american-football-helmet.png" alt="football helmet" height="300px" width="250px">
        </a>
    </div>

    <div class="fake">
        <a class="main-link" href="/mascot/fake">
            <p>Fake Football Teams</p>
            <img src="fake-football.png" alt="black cartoon football" height="300px" width="250px">
        </a>
    </div>

</div>

<footer>
    @CCowens 2019
</footer>