<h1>Mascots VS Mascots</h1>

<div class="main-landing-boxes">
    <a class="main-link" href="/mascot/college">
    <img src="/cartoonfootballplayer.png" alt="image of cartoon football player" height="300px" width="300px"> 
    <input class="allButton" type="submit" value="College Football Mascots Teams">
    </a>

    <a class="main-link" href="/mascot/professional">
    <img src="/american-football-helmet.png" alt="football helmet" height="300px" width="300px">
    <input class="allButton" type="submit" value="Professional Football Teams">
    </a>
 
    <a class="main-link" href="/mascot/fake">
    <img src="fake-football.png" alt="black cartoon football" height="300px" width="300px">
    <input class="allButton" type="submit" value="Fake Football Teams">
    </a>

</div>