<h1>Mascots VS Mascots</h1>

<div class="main-landing-boxes">
    <a class="main-link" href="/mascot/college">
    <img src="/cartoonfootballplayer.png" alt="image of cartoon football player"> 
    <input class="allButton" type="submit" value="College Football Mascots">
    </a>

    <a class="main-link" href="/mascot/professional">
    <img src="/american-football-helmet.png" alt="football helmet">
    <input class="allButton" type="submit" value="Professional Football">
    </a>

</div>