<h1>Create New College Mascot</h1>

<form action="/mascot" method="POST">
    <input type="text" name="mascot" placeholder="mascot"/>
    <input type="text" name="college" placeholder="college"/>
    <input type="number" name="gameTime" placeholder="game time"/>
    <input type="text" name="strengths" placeholder="strengths"/>
    <input type="text" name="weaknesses" placeholder="weaknesses"/>
    
    <input type="submit" value="create"/>

</form>