<h1>Create New College Mascot</h1>

<form action="/mascot" method="POST">
    <input type="text" name="collegeMascot" placeholder="mascot"/>
    <input type="text" name="college" placeholder="college"/>
    <input type="number" name="collegeGameTime" placeholder="game time"/>
    <input type="text" name="collegeStrengths" placeholder="strengths"/>
    <input type="text" name="collegeWeaknesses" placeholder="weaknesses"/>
    
    <input type="submit" value="create"/>


</form>




