<h1>Create Your Own Mascot</h1>

<form action="/mascot/fake" method="POST">
    <input type="text" name="fakeMascot" placeholder="mascot" />
    <input type="text" name="fakeLocation" placeholder="location" />
    <input type="number" name="fakeGameTime" placeholder="game time" />
    <input type="text" name="fakeStrengths" placeholder="strengths" />
    <input type="text" name="fakeWeaknesses" placeholder="weaknesses" />
    <input type="text" name="fakePicture" placeholder="picture" />

    <input type="submit" value="create" />

</form>