<h1>Create New Professional Mascot</h1>

<form action="/mascot/professional" method="POST">
    <input type="text" name="professionalMascot" placeholder="mascot"/>
    <input type="text" name="location" placeholder="location"/>
    <input type="number" name="professionalGameTime" placeholder="game time"/>
    <input type="text" name="professionalStrengths" placeholder="strengths"/>
    <input type="text" name="professionalWeaknesses" placeholder="weaknesses"/>
    <input type="text" name="professionalPicture" placeholder="picture"/>
    
    <input type="submit" value="create"/>


</form>